<md-content>

  <table>
    <tr>
      <th>
        Course
      </th>
      <th>
        Score
      </th>
      <th>
        examType
      </th>
      <th>
        semester
      </th>
    </tr>
    <tr ng-repeat="score in vm.scores">
      <td>
        {{score.course_name}}
      </td>
      <td>
        {{score.mark}}
      </td>
      <td>
        {{score.exam_type}}
      </td>
      <td>
        {{score.semester}}
      </td>
    </tr>
  </table>
</md-content>


<md-input-container>
  <label>semester</label>
  <md-select ng-model="vm.details.semester" ng-change="vm.query()">
    <md-option ng-repeat="semester in vm.semesters">{{semester}}</md-option>
  </md-select>
</md-input-container>

<md-input-container>
  <label>Exam Type</label>
  <md-select ng-model="vm.details.examType" ng-change="vm.query()">
    <md-option ng-repeat="examType in vm.examTypes">{{examType.exam_type}}</md-option>
    <md-option value="total">Total</md-option>
  </md-select>
</md-input-container>
