<div layout="row" flex layout-align="center center">


    <md-card class="md-padding md-whiteframe-2dp">
      <form name='login' novalidate>

        <md-input-container class="md-block">
          <label>User name</label>
          <input type="text" ng-model="vm.user_name" required>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" ng-model="vm.password" required>
          <div ngMessage="vm.loginError">{{vm.loginErrorText}}</div>
        </md-input-container>

        <md-button class="md-primary md-raised" ng-click="vm.login()">login</md-button>



      </form>
    </md-card>


</div>
