body {
  font-family: 'Roboto', sans-serif;
}
body, md-content {
  background-color: #f5f5f5 !important;
}
.main-content {
  padding: 24px;
}
#view {
  height: 100%;
}
.auth {
  display: flex;
  margin: auto;
}
#sidenav {
  width: 250px;
}
md-sidenav md-toolbar {
  background: url('nav-background.png');
  font-size: 15px;
}
.avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 40px;
}
md-list .md-button {
  width: 100%;
  text-align: left;
}
md-input-container label {
  color: rgba(0, 0, 0, 0.50);
}
md-toolbar h2{
  padding-left: 12px;
}
