input[name="filled by"] {
	font-family: Satisfy, cursive;
	font-weight:normal;
	font-size:24px;

}

.content md-card {
	background: #9C27B0;
}

.avatar {
	height: 64px;
	width: 64px;
	border-radius: 50%;
  display: inline-block;
	overflow: hidden;
}

body, md-content {
  background-color: #f5f5f5 !important;
}
