
<div>
  <md-content>
    <md-card>
      <md-table-container>
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Id</th>
              <th md-column>Name</th>
              <th md-column>Notes</th>
              <th md-column>Date</th>
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row ng-repeat="absent in vm.absents">

              <td md-cell>{{absent.student_id}}</td>
              <td md-cell>{{absent.name}}</td>
              <td md-cell>{{absent.notes}}</td>
              <td md-cell>{{absent.created_at}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
    </md-card>
  </md-content>

</div>


<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ui-sref="home.recordAttendance">
  <md-icon md-svg-icon="add"></md-icon>
</md-button>
