<md-toolbar class="md-whiteframe-1dp">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-md aria-label="Settings" ng-click="vm.toggleSideNav('left')">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h2>
      <span>{{title}}</span>
    </h2>
    <span flex></span>
    <md-menu>
      <md-button class="md-icon-button" aria-label="More"  ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="more_vert_white"></md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button>
            <p flex>About</p>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.logout()">
            <p flex>Log Out</p>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
