<div flex layout-align="center center">
  <md-content>
    <div flex layout="column" layout-padding>
      <md-card>
        <form name='login' novalidate>

          <md-input-container class="md-block">
            <label>Email</label>
            <input type="email" ng-model="vm.email" required>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" ng-model="vm.password" required>
          </md-input-container>

          <md-button ng-click="vm.login()">login</md-button>
          <p ng-show="vm.loginError">{{vm.loginErrorText}}</p>
        </form>
      </md-card>
    </div>
  </md-content>
</div>
