<toolbar title='Fees'></toolbar>
<side-nav></side-nav>


<div>
  <md-content>
    <md-card>
      <md-table-container>
        <table md-table md-row-select=false ng-model="vm.selected" md-progress="vm.promise">
          <thead md-head>
            <tr md-row>
              <th md-column>Id</th>
              <th md-column>Name</th>
              <th md-column md-numeric>Charges</th>
              <th md-column md-numeric>Payments</th>
              <th md-column md-numeric>Balance</th>
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row ng-repeat="fee in vm.fees">

              <td md-cell>{{fee.student_id}}</td>
              <td md-cell>{{fee.name}}</td>
              <td md-cell>{{fee.debit | currency}}</td>
              <td md-cell>{{fee.credit | currency}}</td>
              <td md-cell>{{fee.balance | currency}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.fees.length}}" md-page-select=false md-boundary-links=false></md-table-pagination>
    </md-card>
  </md-content>

</div>




<md-fab-speed-dial class="md-fab-bottom-right md-scale" md-direction="left">
  <md-fab-trigger>
    <md-button aria-label="Add" class="md-fab">
      <md-icon class="material-icons">add</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="payment" class="md-fab md-mini" ng-click="vm.openDialog(); vm.dept_or_credit('c')">
      <md-icon class="material-icons">payment</md-icon>
    </md-button>
    <md-button aria-label="charges" class="md-fab md-mini" ng-click="vm.openDialog(); vm.dept_or_credit('d')">
      <md-icon class="material-icons">attach_money</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
