<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <div layout="row" layout-align="start center">
          <md-icon class="avatar" md-svg-icon="avatars:svg-1"></md-icon>
          <span flex></span>
        </div>
        <span></span>
        <div>{{currentUser.name}}</div>
      </div>
    </md-toolbar>

    
    <md-list>
      <md-list-item md-ink-ripple>
        <a href="#/student">students</a>
      </md-list-item>
      <md-list-item md-ink-ripple>
        <a href="#/staff">staff</a>
      </md-list-item>
      <md-list-item md-ink-ripple>
        <a href="#/fees">fees</a>
      </md-list-item>
      <md-list-item md-ink-ripple>
        <a href="#/mark">marks</a>
      </md-list-item>
      <md-list-item md-ink-ripple>
        <a href="#/other">other</a>
      </md-list-item>

    </md-list>


  </md-sidenav>
</div>
