
  <md-sidenav id="sidenav" class="md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <div layout="row" layout-align="start center">
          <md-icon class="avatar" md-svg-icon="avatars:svg-1"></md-icon>
          <span flex></span>
        </div>
        <span></span>
        <div>{{currentUser.name}}</div>
      </div>
    </md-toolbar>


    <md-list>
      <md-list-item>
        <md-button href="#/student">Students</md-button>
      </md-list-item>
      <md-list-item>
        <md-button href="#/guardian">Guardians</md-button>
      </md-list-item>
      <md-list-item>
        <md-button href="#/staff">Staff</md-button>
      </md-list-item>
      <md-list-item>
        <md-button href="#/fees">Fees</md-button>
      </md-list-item>
      <md-list-item>
        <md-button href="#/mark">Marks</md-button>
      </md-list-item>
      <md-list-item>
        <md-button href="#/other">Other</md-button>
      </md-list-item>

    </md-list>


  </md-sidenav>
