<div layout="row" flex>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-hue-2">
      <span flex></span>
      <div layout="column" class="md-toolbar-tools-bottom inset">
        <span></span>
        <div>place holder</div>
      </div>
    </md-toolbar>

    <ul>
      <li><a href="#/student">students</a></li>
      <li><a href="#/staff">staff</a></li>
      <li><a href="#/fees">fees</a></li>
      <li><a href="#/mark">marks</a></li>
      <li><a href="#/other">other</a></li>
    </ul>



  </md-sidenav>
</div>
